#sections-list img, #fav-list img {
    padding-right: 3px;
    vertical-align: text-bottom;
}

.topic-list-item {
    font-size: 14px;
}

.topic-list-item .title {
    font-size: 16px;
}

.topic-list-item .unread.title {
    color: green;
}

.topic-list-item .top.title {
    color: blue;
}

.topic-list-item .info {
    color: #AAA;
}

.topic-list-item .author {
    color: #888;
}

.topic-list-item .visits {
    float: right;
}

.topic-list-item.hot .visits {
    color: red;
}

.topic-content-item {
    font-size: 14px;
}

.topic-content-item .content {
    font-size: 16px;
}

.topic-content-item .info {
    color: #999;
    margin-bottom: 5px;
}

.topic-content-item .time {
    float: right;
}
