#sections-list img, #fav-list img {
    padding-right: 3px;
    vertical-align: text-bottom;
}

.topic-list-item {
    font-size: 14px;
}

.topic-list-item .title {
    font-size: 16px;
}

.topic-list-item .unread.title {
    color: green;
}

.topic-list-item .top.title {
    color: blue;
}

.topic-list-item .info {
    color: #AAA;
}

.topic-list-item .author {
    color: #888;
}

.topic-list-item .visits {
    float: right;
}

.topic-list-item.hot .visits {
    color: red;
}

.topic-content-item {
    font-size: 14px;
}

.x-list-item > .x-list-item-label > .topic-content-item.mark {
    background: #FBF5D9!important;
}

.topic-content-item .quote {
    color: #999;
    margin-top: 5px;
    padding: 4px;
    border: 1px dashed;
}

.topic-content-item .info {
    color: #598EDE;
    margin-bottom: 5px;
}

.topic-content-item .time {
    float: right;
}

.x-form-label-sbbs {
    width: 100%;
    background-color: #F7F7F7;
    border-top: 1px solid white;
    display: block !important;
    color: #333;
    text-shadow: rgba(255, 255, 255, 0.25) 0 0.08em 0;
    padding: 0.6em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    -webkit-border-radius: 0.4em;
    border-radius: 0.4em;
}
